---
import BaseLayout from '../base.astro';
import {Page, toPage} from '../../lib/page/Page';

import Masthead from '../../components/Masthead';
import Tag from '../../components/Tag';

import {cn,fromISOString, toUnixTimestamp, toDMYDateString, emojifyStatus} from '../../lib/helpers';

/** @ts-ignore */
const abspath = import.meta.url.pathname;
const astroContextSymbol = Symbol.for('astro.context');
const astroContext = Astro.props[astroContextSymbol];

let page:Page = toPage({
  layout: abspath,
  ...Astro.props.content,
  [astroContextSymbol]: astroContext
});

---

<BaseLayout {page}>
  <article id="content">
    <link rel="stylesheet" href="/styles/prism/solarizedLight.css" />
    <Masthead className="post-masthead surface4"
      title={page.content.title}
      subtitle={page.content.subtitle}
    >
      {page.tags && (
        <div class="metadata-container" aria-label="Tagged as">
          <dl class="date-container">
            <Tag className="status" variant="transparent" aria-label={page.status}>{emojifyStatus(page.status)}</Tag>
            <dd class="status" aria-label={`Published at: ${toDMYDateString(page.publishedAt)}`}><em>{toDMYDateString(page.publishedAt)}</em></dd>
          </dl>
          <dl class="tags-container" aria-label="Tagged as">
            {page.tags.map(tag => <Tag className="tag" variant='transparent'>{tag}</Tag>)}
          </dl>
        </div>
      )}
    </Masthead>
    <div class="post">
      <slot />
    </div>
  </article>
</BaseLayout>

<style lang="scss" global>
@use "src/styles/grids" as grids;
@use "src/styles/helpers" as h;
@use "src/styles/typo" as typo;

.post-masthead {
  .metadata-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-block-start: 3em;
    // border-top: 1px solid hsla(var(--brand-hue), var(--brand-saturation), var(--brand-lightness), 30% );

    .date-container, .tags-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .tags-container {
      margin-left: auto;
    }

    dl {
      margin-block-start: 0;
      margin-block-end: 0;
    }
    dd {
      margin-inline-start: 0;
    }

    dd + dd {
      margin-left: calc( 2 * var(--gap));
    }
  }
}

.post  {
  max-width: 1440px;
  position: relative;
  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);
  position: relative;
  margin: 3em auto;

  > p:first-of-type::first-letter {
    font-family: var(--title-family);
    float: left;
    font-size: 4em;
    line-height: 0.65;
    margin: 0.1em 0.15em 0em 0px;
  }

  a:not(.footnote-ref,.footnote-backref) {
    @include typo.link-text;
  }
  a.footnote-backref {
    padding: 0 var(--gap);
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
  figcaption {
    text-align: center;
    color: var(--text2);
    font-style: italic;
  }


  /** Limit line-lengths */
  h1 {
    max-width: 30ch;
  }

  h2,
  h3 {
    max-width: 30ch;
  }

  /**
    * Adjacent spacement fixes
    */
  p > code,
  li > code {
    font-size: 100%;
    padding: var(--gap) calc(var(--gap) * 1.5 );
    background-color: var(--surface3);
    border-radius: var(--gap);
  }

  /* Adjacent list elements */
   ul + p ,
   ol + p {
    margin-top: 1.5rem;
  }


  /** lists */
  ol, ul {
    margin-block-start: 0;
    padding-inline-start: 1em;
  }

  ol li::marker {
    font-size: 1.2rem;
  }

  ul li::marker {
    color: var(--text2);
    font-size: 1rem;
  }

  /** Codes & Blockquotes */
  pre {
    padding: calc(4 * var(--gap));
    border-radius: var(--gap);
    margin: 0 0 1rem 0;
    background-color: var(--surface3);
    overflow: auto;
  }

  pre,
  code,
  pre code {
    text-shadow: none;
    font-family: var(--code-family);
    overflow: hidden;
  }

  blockquote {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding-left: calc(2 * var(--gap));
    font-size: 1rem;
    border-left: 4px solid var(--brand);
  }

  /**
   * Tables
   */
  table {
    margin-bottom: 1.5rem;
    border-spacing: 0px;
    border-top: 0px;
    overflow: hidden;

    thead {
      background-color: var(--brand);
      color: var(--text1-invert);

      & th {
        font-size: 1.2rem;
        font-weight: var(--title-weight);
        font-size: 1.2rem;
        text-align: center;
      }
    }
    tr:not(:last-child) {
      & td {
        border-bottom: 1px solid var(--surface2);
      }
    }
    & tr:last-child {
      & td {
        border-bottom: 1px solid var(--surface2);
      }
    }

    & th,
    & td {
      font-family: var(--code-family);
      padding: calc(2 * var(--gap));
      border-right: 1px solid var(--surface2);

      &:first-of-type {
        border-left: 1px solid var(--surface2);
      }
    }
  }

    hr {
      margin: 1em 0em;
      border-top: 0;
      border-style: solid;
      border-color:  hsl(var(--brand-hue) 0% 90%)
    }


  /**
   *
   */
  .footnotes {
    hr {
      margin: 1em 0em;
      border-top: 0;
      border-style: solid;
      border-color:  hsl(var(--brand-hue) 0% 90%)
    }
    ol {
      margin-left: 1em;
    }
  }

  /**
   * Images float
   */
  .right-25 {
    float: right;
    width: 25%;
    padding: 1em;
  }

  .centered {
    display: flex;
    flex-direction: column;

    > img {
      margin: 0 auto;
    }
  }
}

.surface {
  min-height: 120px;
  width: 80%;
  border-radius: calc( var(--gap) * 4 );
  display: flex;
  align-items: center;
  justify-content: center;

  @include h.shadow();
}

</style>
