---
import BaseLayout from '~/layouts/base.astro';
import Masthead from '~/components/Masthead';
import {cn} from '../../lib/helpers';
const content = Astro.props.content || {};
---

<BaseLayout {content}>
  <script type="text/javascript" src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js" async></script>
  <article id="content">
    <link rel="stylesheet" href="/styles/devices.min.css" />
    <link rel="stylesheet" href="/styles/browser.min.css" />

    <Masthead className="surface4"
      title={content.title}
      subtitle={content.subtitle}
      image={content.logo}
    />
    <div class={cn('project',content.wrapper)}>
      <slot />
    </div>
  </article>
</BaseLayout>

<style lang="scss" global>
@use "sass:math";

@use "public/styles/grids" as grids;
@use "public/styles/helpers" as h;
@use "public/styles/typo" as typo;

$containerPadW: 0.1;
$containerWidth: 100vw - (100vw * $containerPadW);
.project  {
  max-width: 1440px;
  position: relative;

  .description {
    margin: 2em 0;
  }

  /** Limit line-lengths */
  p,
  li {
    max-width: 120ch;
  }

  h1 {
    max-width: 15ch;
  }

  h2,
  h3 {
    max-width: 25ch;
  }

  /** Links */
  a:not(.footnote-ref,.footnote-backref) {
    @include typo.link-text;
  }
  a.footnote-backref {
    padding: 0 var(--gap);
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
  figcaption {
    text-align: center;
    color: var(--text2);
    font-style: italic;
  }

  p:first-of-type {
    margin-top: 0;
  }

  /**
   * Tables
   */
  table {
    border-spacing: 0px;
    border-top: 0px;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    thead {
      background-color: var(--brand);
      color: var(--text1-invert);

      & th {
        font-size: 1.2rem;
        font-weight: var(--title-weight);
        font-size: 1.2rem;
        text-align: center;
      }
    }
    tr:not(:last-child) {
      & td {
        border-bottom: 1px solid var(--surface2);
      }
    }
    & tr:last-child {
      & td {
        border-bottom: 1px solid var(--surface2);
      }
    }

    & th,
    & td {
      font-family: var(--code-family);
      padding: calc(2 * var(--gap));
      border-right: 1px solid var(--surface2);
      text-align: center;

      &:first-of-type {
        border-left: 1px solid var(--surface2);
      }
    }
  }

  hr {
    margin: 3em 0em;
    border-top: 0;
    border-style: solid;
    border-color:  hsl(var(--brand-hue) 0% 90%)
  }

}

.two-columns {
  /**
   * Subdivide in 5 columns
   * left is  2 pieces
   * right is 3 pieces
   */
  $columns: 5;
  $columnSizeVW: $containerWidth / $columns;
  $gap: calc( var(--gap) * 16);

  @include grids.grid($columns, $gap);
  width: 100%;

  .left {
    min-width: 0;
    grid-column: span 2;
  }
  .right {
    min-width: 0;
    grid-column: 3 / #{($columns+1)};

    img, video {
      width: 100%;
    }
  }
}

/**
 * Gallery
 */
.gallery {
  .page {
    width: 100%;
    height: clamp(30vh, 50vh, 60vh);
    display: flex;
    align-items: center;
    justify-content: center;

    &.h100 {
      height: 100vh;
    }
    &.h50 {
      height: 50vh;
    }
    &.h70 {
      height: 70vh;
    }
    &.h80 {
      height: 80vh;
    }
  }
}

.mockup {
  text-align: center;

  > .browser-mockup {
    width: 70%;
    margin: 0 auto;
  }

  > .marvel-device {
    zoom: 0.5;
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      @include h.shadow();
    }
  }
}

</style>
