---
import {dirname,basename} from 'node:path'
import {cn,toDMYDateString, avoidWidowedWords, emojifyStatus} from '../lib/helpers';
import {Page, toPage} from '../lib/page/Page'
import {loadHTML, html} from '../lib/html';

import BaseLayout from './base.astro';

import {listProjects} from '../pages/projects';
import {listGarden} from '../pages/garden';

import ProjectGrid from '../components/Project/ProjectGrid.tsx';
import GardenList, {GardenListVariant} from '../components/Garden/GardenList.tsx';

/** @ts-ignore */
const abspath = import.meta.url.pathname;
const astroContextSymbol = Symbol.for('astro.context');
const astroContext = Astro.props[astroContextSymbol];


let page:Page = toPage({
  layout: abspath,
  ...Astro.props.content,
  [astroContextSymbol]: astroContext
});

let projects: Page[] = await listProjects();
let gardenItems: Page[] = (await listGarden()).sort( (a,b) => {
  // Order by status (first are complete, then in-progresss, finally draft);
  const statusOrder = {'draft': -1, 'in progress': 0, 'complete': 1};
  const [statusA, statusB] = [statusOrder[a.status], statusOrder[b.status]];
  return statusB - statusA;
});

let $ = loadHTML(page.content.content);
let title = $('#title');
title.text( avoidWidowedWords(title.text()) );
---

<BaseLayout {page}>
  <div id="content">
    <section class="home" aria-labelledby="welcome">
      <div class="home-grid">
        <div class="item highlight pad4">
          {html( $('#spotlight') )}
          {html( $('#title') )}
          {html( $('#subtitle') ) }
        </div>
        <div class="item decoration">
          <img alt="nada" src="/pictures/Dieffenbachia robusta.png" />
        </div>
      </div>
    </section>

    <section class="projects">
      <h2 class="title1 pad4-y">Projects</h2>
      <ProjectGrid projects={projects} client:idle />
      <div class="pad4"/>
    </section>

    <section class="digital-garden">
      <h2 class="title1 pad4-y">🌻 Digital Garden</h2>
      <GardenList items={gardenItems} variant={GardenListVariant.WITH_SUBTITLE} />
      <div class="pad4"/>
    </section>
  </div>

</BaseLayout>

<style lang="scss" scoped>
@use "sass:math";
@use "src/styles/breakpoints" as bp;
@use "src/styles/grids" as grids;
@use "src/styles/helpers" as h;

#content {
  position: relative;
}

$fold: 80vh;
.home {
  width: 100%;
  height: $fold;
}

.home-grid {
  height: 100%;

  $gap: 0px;
  @include grids.grid(6, $gap);
  grid-template-rows: repeat(4, math.div( $fold, 4 ));

  :global(.highlight){
    grid-column: 4 / span 4;
    grid-row: 1 / span 4;

    display: flex;
    flex-direction: column;
    justify-content: center;

    > :global(.heading-spotlight) {
      font-family: var(--subtitle-family);
      font-size: calc( var(--h1) * 1.1 );
      @include h.weight(var(--subtitle-weight));
    }
    > :global(.heading-title){
      font-family: var(--subtitle-family);
      font-size: calc( var(--h3) );
      @include h.weight(var(--subtitle-weight));

      margin-bottom: 1em;
    }

    > :global(.heading-subtitle) {
      font-size: var(--h5);
    }
  }
  :global(.decoration) {
    grid-column: 1 / span 3;
    grid-row: 1/ span 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    > img {
      height: clamp(400px, 800px, 1200px);
    }
  }
}

.projects {
  padding: 2em 4em;
}

.digital-garden {
  padding: 2em 4em;
  background-color: var(--surface3);
}

</style>
